<ion-view view-title="SMART Q AND ORDER">
    <ion-content>
        <!-- Message Loading Popup -->
        <!-- <div style="margin:auto;width:50%;">
        <button ng-click="show()" class="button button-block button-calm">
          Click Me
        </button>
    </div>   -->
        <ion-list class="list-thumbnail list-clear">
            <img src="/img/imgList/SizzlerPromotion9.png" alt="Photo" width="100%">
            <div class="item item-divider item-calm">Restaurant</div>
            <img src="/img/imgList/res_sizzler.png" alt="Photo" width="100%">
            <img src="/img/imgList/res_pizzacompany1.png" alt="Photo" width="100%">
            <img src="/img/imgList/res_swensen.jpg" alt="Photo" width="100%">
        </ion-list>
    </ion-content>
</ion-view>
